<div class="container">
    <br />
    <div class="jumbotron">
        <%= link_to download_path(@resource.class.name.underscore, @resource.id) do %>
            <i class="glyphicon glyphicon-download"></i><%= @resource.name %>
        <% end %>
        [<%= @resource.content_type %>]
    </div>
</div>
